.menu {
  flex-direction: column;
  display: flex;
  height: 100vh;
  border-right: 1px solid rgba(191, 185, 185, 0.1);
  padding: var(--spM);
  overflow: auto;

  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: var(--spXs);
    margin-top: var(--spXxl);
  }

  & > div:nth-child(3) {
    margin-top: auto;
    @media (max-width: 768px) {
      margin-bottom: 128px;
    }
  }
}

.menuHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spS);

  & > div:nth-child(1) {
    & > svg {
      cursor: pointer;
      /* background-color: aqua; */
      height: 80px;
    }
  }

  & > div:nth-child(2) {
    cursor: pointer;
  }

  & > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    margin-block: var(--spS);

    & > p:nth-child(1) {
      color: var(--cWhite);
      font-size: var(--sM);
    }

    & > p:nth-child(2) {
      color: var(--cBlackV2);
      font-size: var(--sM);
      margin-top: var(--spXs);
    }

    & > p:nth-child(3) {
      color: var(--cBlackV2);
      font-size: var(--sM);
    }
  }
}

.menuItem {
  & > a {
    text-decoration: none;
    color: var(--cBlackV2);
    display: flex;
    align-items: center;
    gap: var(--spS);
    padding: var(--spS);
    border-radius: var(--bRadiusS);
  }

  & > a:hover {
    /* background-color: var(--cBlackV1); */
    background-color: rgba(33, 37, 41, 0.5);
  }

  & > a.active {
    background-color: var(--cBlackV1);
    /* background-color: rgba(33, 37, 41, 0.5); */
    color: var(--cWhite);
  }

  & > a.collapsed {
    justify-content: center;
  }
}

.menuDropdown {
  position: relative;
  color: var(--cBlackV2);
  cursor: pointer;
  border-radius: var(--bRadiusS);
  padding: 0px;
  transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--cBlack);

  &:hover {
    background-color: rgba(33, 37, 41, 0.5);
    color: white;
    border: 1px solid var(--cAccent);
  }

  &:hover::before,
  &:hover::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 3px;
    height: 17px;
    background-color: var(--cAccent);
    transform: translateY(-50%);
    border-radius: 25%;
  }

  &:hover::before {
    left: -2px;
  }

  &:hover::after {
    right: -2px;
  }

  &.isOpen {
    background-color: rgba(33, 37, 41, 0.5);
    color: var(--cWhite);
    padding: var(--spS);

    &.collapsed {
      padding: 0;
    }
  }

  &.isRouteActive {
    background-color: rgba(33, 37, 41, 0.5);
    color: white;
  }

  &.isOpen > div:nth-child(1) {
    background-color: var(--cBlackV1);
  }

  &.collapsed > div:nth-child(1) {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }

  &.collapsed > div:nth-child(2) {
    position: fixed;
    left: 92px;
    background-color: #181a1c;
    width: 200px;
    border-radius: var(--bRadiusS);
    padding: var(--spS);
    margin-top: 0;
    border: 1px solid rgba(191, 185, 185, 0.1);
  }

  & > div:nth-child(1) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spS);
    padding: var(--spS);
    border-radius: var(--bRadiusS);

    & > div:nth-child(1) {
      display: flex;
      align-items: center;
      gap: var(--spS);
    }
  }

  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-self: self-start;
    gap: var(--spXs);
    width: 100%;
    margin-top: var(--spS);

    & > a {
      text-decoration: none;
      color: var(--cBlackV2);
      padding: var(--spS);
      border-radius: var(--bRadiusS);
    }

    & > a.active {
      background-color: var(--cBlackV1);
      color: var(--cWhite);
    }

    & > a:hover {
      /* background-color: rgba(245, 149, 28, 0.2); */
      background-color: var(--cAccent);
      color: white;
    }

    & > a.active,
    & > a.active:hover {
      background-color: var(--cBlackV2);
      /* background-color: rgba(245, 149, 28, 0.2); */
    }
  }
}
