.Reports {
  & > p:nth-child(1) {
    font-size: var(--sXs);
    font-weight: 400;
    margin-bottom: var(--spS);
  }
  &p:nth-child(2) {
    font-size: var(--sM);
    font-weight: 400;
    color: var(--cWhiteV1);
  }
  & > a {
    color: var(--cAccent);
    font-size: var(--sXs);
    font-weight: 400;
    margin-top: var(--sXxs);
  }
}
