.pagination {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  /* background-color: var(--cBlackV1); */
  padding: 12px;
  /* border-radius: 0px 0px 16px 16px; */

  & > div:nth-child(1) {
    display: flex;
    gap: var(--spS);
    & > span {
      border-radius: var(--bRadiusS);
      border: var(--bWidth) solid var(--cBlackV3);
      padding: 6px;
    }
  }
  & > div:nth-child(2) {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: var(--spS);

    & > div {
      width: 32px;
      height: 32px;
      /* border: var(--bWidth) solid var(--cBlackV3); */
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--bRadiusS);
      color: var(--cWhiteV1);
      cursor: pointer;
    }
  }

  & > div:nth-child(2) {
    & > div.active {
      background-color: var(--cPrimary);
      color: var(--cBlack);
    }
  }
  & > div:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 8px;
    & > p {
      font-size: var(--sM);
      color: var(--cBlackV2);
      width: 170px;
      text-align: right;
    }
  }
}
