.container {
  margin-bottom: 8px;
  margin-top: 8px;
  & > nav {
    align-items: center;
    font-size: 16px;
    color: #fff;
    margin-top: -16px;
    & > ol {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      & > li {
        & > p {
          color: var(--cBlackV2);
          text-decoration: none;
        }
      }
      & > div {
        margin-left: 8px;
        cursor: pointer;
        color: var(--cBlackV2);
        padding: 8px;
        border-radius: 99px;

        &:hover {
          color: var(--cWhite);
          background-color: var(--cAccent);
          font-weight: 500;
        }
        & > li {
          display: flex;
          gap: 4px;
        }
      }
      & > div:last-child {
        color: #fff;
        cursor: default;
      }
    }
  }
}
