@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  /* Paleta de colores principales */
  --cPrimary: #3a9ed9;
  --cSecondary: #212529;
  --cTerciary: #393c3f;
  --cAccent: #3a9ed9;
  --cWhite: #ffffff;
  --cWhiteV1: #c6c6c6;
  --cWhiteV2: #858a8f;
  --cWhiteV3: #ffffff0d;
  --cBlack: #101111;
  --cBlackV1: #212529;
  --cBlackV2: #656f78;
  --cBlackV3: #393c3f;
  --cHover: #ffffff0d;
  --cHoverAccent: #f5822033;
  --cHoverSuccess: #00af9033;
  --cHoverInfo: #39acec33;
  --cHoverError: #da5d5d33;
  --cHoverWarning: #e1c15133;
  /* Paleta de los toast */
  --cError: #da5d5d;
  --cSuccess: #00af90;
  --cInfo: #39acec;
  --cWarning: #e1c151;
  /* Paleta de colores Random */
  --cRandom1: #a2d2bf;
  --cRandom2: #a9cce3;
  --cRandom3: #d8bfd8;
  --cRandom4: #faedcb;
  --cRandom5: #b382d9;
  --cRandom6: #f0a8b2;
  --cRandom7: #ffd9da;
  --cRandom8: #a2faa3;
  --cRandom9: #faff7f;
  --cRandom10: #d3c4e3;
  --cRandom11: #96bdc6;
  --cRandom12: #f8dda4;
  --cRandom13: #ffc6ff;
  --cRandom14: #f08080;
  --cRandom15: #bd4f91;
  --cRandom16: #ff7f51;
  --cRandom17: #fdf0d5;
  --cRandom18: #f7b267;
  --cRandom19: #b8c0ff;

  /* Tamaños de los textos fluido */
  --sXxl: 24px;
  --sXl: 20px;
  --sL: 16px;
  --sM: 14px;
  --sS: 12px;
  --sXs: 10px;
  --sXxs: 8px;
  /* Espaciados */
  --spXs: 4px;
  --spS: 8px;
  --spM: 12px;
  --spL: 16px;
  --spXl: 24px;
  --spXxl: 32px;
  /* Fuentes */
  --fPrimary: "Inter", sans-serif;
  --fSecondary: "Roboto", sans-serif;
  /* Border */
  --bRadiusS: 8px;
  --bRadius: 12px;
  --bRadiusM: 16px;
  --bRadiusL: 20px;
  --bWidth: 1px;
  /* Bolds */
  --bLight: 300;
  --bRegular: 400;
  --bMedium: 500;
  --bSemibold: 600;
  --bBold: 700;
  /* button search size */
  /* --btn-width: 8rem; */
  --responsive-tablet: 768px;
  --responsive-mobile: 480px;
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  display: flex;
  overflow-x: hidden;
  font-size: var(--sM);
  font-family: var(--fPrimary);
  font-weight: var(--bRegular);
  color: var(--cWhite);
  background-color: var(--cBlack);
}

input,
button {
  font-family: var(--fPrimary);
}

/* splash */
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--cBlack);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  color: var(--cWhiteV3);
}

.splash > div > span {
  color: var(--cWhite);
  font-weight: var(--bBold);
}

/* loading  */

.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.loader {
  width: 24px;
  padding: 3px;
  background: var(--cAccent);
  aspect-ratio: 1;
  border-radius: 50%;
  mask: conic-gradient(#0000, #000), linear-gradient(#000 0 0) content-box;
  mask-composite: subtract;
  box-sizing: border-box;
  animation: load 1s linear infinite;
}

@keyframes load {
  to {
    transform: rotate(1turn);
  }
}

svg.circle {
  background-color: var(--cWhite);
  color: var(--cBlack);
  border-radius: 100%;
  padding: var(--spXs);
}

/* MARK:Key Value */

/* header-title */

/* spin */
.spin {
  position: absolute;
  top: 0;
  left: 28px;
  background-color: var(--cPrimary);
  border-radius: 9999px;
  border: 2px solid var(--cWhiteV1);
  width: 14px;
  height: 14px;
}

.switch {
  & > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & > div:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;

      & > label {
        display: flex;
        gap: var(--sPs);
        font-size: var(--sS);
        color: var(--cWhiteV3);
        margin-right: var(--sPs);
      }

      & > .label-active {
        font-weight: var(--bBold);
      }

      & > div:first-child {
        position: relative;
        cursor: pointer;

        & > input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        & > div {
          position: absolute;
          left: 0.125rem;
          top: 2px;
          height: 1rem;
          width: 1rem;
          border-radius: 9999px;
          transition: background-color 0.3s ease-in-out;
        }
      }
    }
  }
}

.widget-stad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spS);

  @media (width > 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spS);

  @media (width > 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--cBlack) inset;
  -webkit-text-fill-color: var(--cWhite);
}

.apexcharts-xaxis-label,
.apexcharts-yaxis-label {
  background: transparent !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  margin-right: 4px;
}
.apexcharts-tooltip {
  background: var(--cWhite);
  color: var(--cBlack);
}

#SvgjsText8413 {
  background-color: red !important;
}

.truncatedText {
  /* background-color: #39acec; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
