.layout {
  --sidebar-width: 240px;
  display: grid;
  grid-template-areas:
    "sidebar navbar"
    "sidebar content";
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
  background-color: var(--cBlack);
  overflow: hidden;
  transition: grid-template-columns 0.3s ease;

  @media (width <= 1024px) {
    grid-template-areas:
      "navbar"
      "content"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }

  & > :nth-child(1) {
    grid-area: navbar;
    width: 100%;
  }

  & > :nth-child(2) {
    grid-area: sidebar;
    height: 100%;
  }

  & > :nth-child(3) {
    grid-area: content;
    overflow-y: auto;
    /* padding: 16px; */
    padding: 16px 24px;

    @media (width < 1024px) {
      padding: 16px;
    }
  }

  & > :nth-child(4) {
    grid-area: footer;
    width: 100%;

    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.layoutExpanded {
  --sidebar-width: 240px;
}

.layoutCollapsed {
  --sidebar-width: 80px;
}
