.roles {
  width: 100%;
}
.cardEventContainer {
  display: flex;
  width: 100%;
  background-color: var(--cBlackV1);
  margin-top: var(--spL);
  padding: var(--spL);
  border-radius: var(--bRadius);
  & > div:nth-child(1) {
    border-radius: var(--bRadius);
  }
  & > div:nth-child(2) {
    gap: 4px;
    padding-left: var(--spL);
    padding-right: var(--spL);
    & > div:nth-child(3) {
      margin-top: var(--spS);
    }
    & > div:nth-child(4) {
      color: var(--cSuccess);
    }
  }
}

.interaccionesEventContainer {
  & > div:nth-child(1) {
    display: flex;
    gap: 16px;
    & > div {
      flex: 1;
      background-color: var(--cBlackV1);
      border-radius: 8px;
      padding: 8px 0px;
      & > p:nth-child(1) {
        text-align: center;
      }
      & > p:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--cBlackV2);
      }
    }
  }
  & > h2 {
    font-size: var(--sM);
    color: var(--cWhite);
    margin: var(--spM) 0px;
  }
}
