.scale {
  background-color: var(--cBlackV1);
  padding: 16px;
  border-radius: 12px;
  width: 100%;
  color: #bbb;
  display: flex;
  flex-direction: column;
}

.title {
  color: #f0f0f0;
  font-size: 16px;
  font-weight: bold;
}

.description {
  margin-bottom: 8px;
}

.labelContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.labelLeft {
  font-size: 14px;
  color: var(--cBlackV2);
  text-align: left;
}
.labelRight {
  font-size: 14px;
  color: var(--cBlackV2);
  text-align: right;
}

.checkboxContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkboxLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox {
  display: none;
}

.checkbox + .checkboxValue {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--cWhite);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid var(--cBlackV2);
}

.checkbox:checked + .checkboxValue {
  background-color: var(--cSuccess);
  color: var(--cWhite);
}

.checkboxValue + .checkboxNumber {
  color: var(--cBlackV2); /* Color del número debajo del círculo */
  font-size: 12px;
  margin-top: 8px; /* Espacio entre el círculo y el número */
  display: block;
}

.checkbox:checked + .checkboxValue {
  background-color: var(--cSuccess);
  color: var(--cWhite);
}
