.container {
  & > div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    cursor: pointer;
  }
  & > p {
    font-size: 14px;
    color: var(--cWhite);
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 16px;
  }
  & > span {
    font-size: 14px;
    color: var(--cError);
    font-weight: 400;
  }
}
