.dropdown {
  position: relative;

  & > div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.dropdown > svg:hover {
  background-color: var(--cWhite);
  color: var(--cBlackV3);
  border-radius: 100%;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 150%;
  right: 0;
  background-color: #181a1c;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 99999;
  width: 181px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  border: 1px solid rgba(191, 185, 185, 0.1);
}

.dropdownMenu p {
  margin: 0;
  padding: 10px 8px;
  cursor: pointer;
  white-space: nowrap;
  color: var(--cBlackV2);
}

.dropdownMenu p:hover {
  background-color: #3a9ed959;
  border-radius: 8px;
}
