.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--sPs);
  padding: var(--spL);
  border-radius: var(--bRadius);
  background-color: var(--cHover);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  margin-top: 16px;
  border: 1px solid var(--cBlackV3);
}
.V1 {
  background-color: var(--cHover);
  border-radius: 16px;
  border: none;
}
