.FilterButton {
  display: flex;
  gap: var(--spS);
  & > div {
    background-color: var(--cHover);
    border-radius: 50px;
    padding: var(--spS) var(--spL);
    cursor: pointer;
    gap: 2px;
    display: flex;
    & > p {
      color: var(--cBlackV2);
      font-size: var(--sS);
      font-weight: 500;
    }

    .badge {
      background-color: var(--cBlackV2);
      color: var(--cBlackV1);
      border-radius: 100%;
      padding: 2px 5px;
      font-size: var(--sXs);
    }
  }
  .active {
    background-color: var(--cSuccess);
    & > p {
      color: var(--cBlack);
    }
    .badge {
      background-color: var(--cBlackV1);
      color: var(--cSuccess);
    }
  }
}
