.surveyOpenTextChoice {
  & > p:nth-child(1) {
    color: var(--cWhite);
    font-size: var(--sXl);
    font-weight: 700;
  }
  & > p:nth-child(2) {
    color: var(--cBlackV2);
    font-size: var(--sM);
    font-weight: 400;
    margin-bottom: var(--spXs);
  }
  & > p:nth-child(3) {
    color: var(--cError);
    margin-bottom: var(--spXl);
  }
  & > div {
    background-color: var(--cBlackV1);
    border-radius: var(--bRadius);
    padding: var(--spM);
    margin-bottom: var(--spM);
    & > p {
      color: var(--cWhite);
      font-size: var(--sM);
      font-weight: 600;
      margin-bottom: var(--spS);
    }
  }
}
