.useCrud {
  gap: 1px;
  & > section {
    height: calc(100vh - 280px);
    overflow-y: auto;
    & > section {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: center;
      & > p {
        font-size: 20px;
        font-weight: 900;
      }
    }
  }
  & > nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--spL);
    overflow: visible;
    & > div:first-child {
      flex-grow: 1;
    }
  }

  & .actions {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--spM);
    color: var(--cWhiteV3);

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--bRadius);
      /* border: 1px solid var(--cWhiteV3); */
      /* padding: 4px;
      width: 40px;
      height: 40px; */
      overflow: hidden;
    }
    & div:first-child {
      color: var(--cWarning);
    }
    & div:last-child {
      color: var(--cError);
    }
  }
}
.listAndCard {
  display: flex;
  align-items: center;
  height: 100%;

  & > div {
    padding: 12px;
    color: var(--cBlackV2);
    background-color: var(--cBlackV1);
    cursor: pointer;
  }
  & > div:nth-child(1) {
    border: 1px solid var(--cBlackV1);
    border-radius: 8px 0px 0px 8px;
  }
  & > div:nth-child(2) {
    border: 1px solid var(--cBlackV1);
    border-radius: 0px 8px 8px 0px;
  }
  .active {
    border: 1px solid var(--cAccent);
    background-color: #39acec33;
  }
}
.formDelete {
  display: flex;
  color: var(--cWhiteV1);
  font-size: var(--sM);
}
