.useCrud {
  gap: 1px;
}
.formDelete {
  display: flex;
  color: var(--cWhiteV1);
  font-size: var(--sM);
}

.addButton {
  padding: var(--spS);
  cursor: pointer;
  transition: background-color 0.3s;
}
