.users {
    & h1 {
        margin-bottom: var(--sL);
        margin-left: var(--sL);
    }
    & h2 {
        margin-bottom: var(--sL);
        margin-left: var(--sL);
    }
}

.detailAffiliate {
    & > div {
        text-align: center;
        margin-top: var(--sL);
    }
}

.cardContent {
    flex: 1;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--sL);
  
    & > p:nth-child(odd) {
        flex: 1;
        color: var(--cBlackV2);
        margin-bottom: var(--spS);
      }
      & > p:nth-child(even) {
        flex: 1;
        text-align: right;
        color: var(--cWhite);
       
      }
}