.container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 230px;
  background-color: var(--cWhite);
  color: var(--cBlackV2);
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  z-index: 9999;
  position: absolute;
  font-size: 10px;
}

.container:hover .tooltip {
  visibility: visible;
}

/* Posicionamiento del tooltip para cada dirección */
.top {
  bottom: 100%; /* Posiciona el tooltip arriba del elemento */
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  top: 100%; /* Posiciona el tooltip abajo del elemento */
  left: 50%;
  transform: translateX(-50%);
}

.left {
  top: 20;
  right: 100%; /* Posiciona el tooltip a la izquierda del elemento */
  transform: translateY(-50%);
}

.right {
  top: 20;
  left: 100%; /* Posiciona el tooltip a la derecha del elemento */
  transform: translateY(-50%);
}
