.ProgressBar {
  display: flex;
  align-items: center;
  & > div:nth-child(1) {
    flex-grow: 1;
    background-color: var(--cBlackV2);
    border-radius: 16px;
    height: 8px;
    .Bar {
      background-color: var(--cSuccess);
      border-radius: 16px 0px 0px 16px;
      border-right: 2px solid var(--cBlackV1);
      height: 8px;
    }
  }
  & > div:nth-child(2) {
    width: 144px;
    text-align: right;
  }
}
