.itemList {
  width: 100%;
  padding-bottom: var(--spM);

  &.V1 {
    border: var(--bWidth) solid var(--cBlackV3);
    border-radius: var(--spL);
    padding: var(--spM);
    background-color: var(--cBlack);
    margin-bottom: var(--spM);
  }

  &.V2 {
    /* border: var(--bWidth) solid var(--cBlackV3);
    border-radius: var(--spL); */
    padding-top: var(--spM);
    padding-bottom: var(--spM);
    /* padding-bottom: var(--spM); */
    /* background-color: var(--cBlack); */
    margin-bottom: var(--spL);

    & > div {
      display: flex;
      align-items: center;
      gap: var(--spS);
      padding-left: var(--spS);
      padding-right: var(--spS);

      & > div {
        display: flex;
        width: 100%;
        flex-grow: 1;
        flex-direction: column;
        overflow: hidden;

        & > div {
          font-size: var(--sM);
          font-weight: var(--bBold);

          text-overflow: ellipsis;
          overflow: hidden;
          color: "white";
          white-space: nowrap;
        }

        & > span {
          font-size: var(--sS);
          color: var(--cBlackV2);
          /* background-color: white; */
        }
      }
    }
  }
  &.V3 {
    background-color: var(--cHover);
    padding: 16px;
    border-radius: 16px;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: var(--spS);
    /* padding-left: var(--spS); */
    padding-right: var(--spS);

    & > div {
      display: flex;
      width: 100%;
      flex-grow: 1;
      flex-direction: column;
      overflow: hidden;

      & > div {
        font-size: var(--sM);
        font-weight: var(--bBold);
        color: var(--cBlack);
        text-overflow: ellipsis;
        overflow: hidden;
        color: var(--cWhite);
        white-space: nowrap;
      }

      & > span {
        font-size: var(--sS);
        color: var(--cBlackV2);
      }
    }
  }

  & > footer {
    padding-left: var(--spS);
    padding-right: var(--spS);
    text-align: right;
    font-size: var(--sXs);
    color: var(--cWhiteV2);
  }

  &.active {
    border: 4px solid var(--cPrimary);
  }
}

.icon {
  width: 48px;
  height: 48px;
  background-color: var(--cBlackV1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  & > svg {
    width: 16px;
    height: 16px;
  }
}
