.leadershipHierarchy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselCards {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  gap: var(--sL);
}
.card {
  width: 180px !important;
  min-height: 100px !important;
  text-align: center !important;
  & > div:nth-child(1) {
    color: var(--cWhite);
    font-size: var(--sXs);
    text-align: center;
  }
  & > div:nth-child(2) {
    font-size: var(--spM);
    /* background-color: antiquewhite; */
  }
}

.entityContent {
  & > div:nth-child(1) {
    display: flex;
    justify-content: space-between;

    & > div:nth-child(2) {
      color: var(--cSuccess);
    }
  }
  & > div:nth-child(2) {
    color: var(--cBlackV2);
    margin-top: var(--spS);
    margin-bottom: var(--spXs);
    text-align: start;
  }
  & > div:nth-child(3) {
    font-size: var(--spXl);
  }
}
.childrenCard {
  display: flex;
  flex-direction: column;
  min-width: 100px !important;
  height: 90px !important;
  text-align: center !important;
  margin-top: 60px;
  & > div:nth-child(1) {
    /* background-color: red; */
    flex-direction: row;
    justify-content: center;
    display: flex;
    & > div {
      margin-left: 6px;
      display: flex;
      color: var(--cBlackV2);
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
  & > div:nth-child(2) {
    margin-top: var(--spS);
    color: var(--cBlackV2);
    font-size: var(--sXs);
  }
  & section {
    display: flex;
    /* background-color:var(--cBlackV3); */
    align-self: center;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    /* padding: 20px; */
    border-radius: 50%;
  }
}

.mainCardContainer {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin: var(--spXl) var(--sL);
  min-width: 270px;
  justify-content: center;
  text-align: center;
}
.mainCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.addButton {
  display: flex;
  background-color: var(--cBlackV3);
  align-self: center;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
  padding: 8px;
  border-radius: 50%;
}
.errMember {
  color: var(--cError);
  font-size: var(--spM);
}
