.radio {
  flex-grow: 1;
  & > div {
    display: flex;
    gap: 8px;
    & > div {
      & > p:nth-child(odd) {
        font-size: 16px;
        font-weight: 600;
        color: var(--cWhite);
      }
      & > p:nth-child(even) {
        font-size: 14px;
        font-weight: 300;
        color: var(--cWhite);
      }
    }
  }
}
